@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.score_page {
  width: 100%;
  min-height: 100vh;
  padding: 15vh 50px 5vh 50px;
  font-size: 45px;
  color: $primary-white;
  background-color: $primary-background;
  border-bottom: thin solid $primary-purple;
  overflow: hidden;

  & > div.scores_wrapper {
    @include center-flex();
    flex-direction: column;

    & > span {
      width: 30%;
      border-bottom: thin solid $primary-white;
      color: $primary-purple;
      margin: 10px 0;
      display: flex;
      padding: 5px 15px;
      font-size: 25px;
    }
  }
}
