@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.score_page {
  width: 100%;
  min-height: 100vh;
  padding: 15vh 50px 5vh 50px;
  font-size: 45px;
  color: $primary-white;
  background-color: $primary-background;
  border-bottom: thin solid $primary-purple;
  overflow: hidden;

  & > div.scores_wrapper {
    @include center-flex();
    flex-direction: column;

    & > div.score_wrapper {
      @include center-flex();
      color: $primary-purple;
      margin: 10px 0;
      display: flex;
      padding: 5px 15px;
      font-size: 25px;
      position: relative;
      right: 25px;

      & > span.table_position {
        color: $primary-white;
        width: 50px;
      }
      & > span.time {
        @include center-flex();
        border-bottom: thin solid $primary-white;
        width: 220px;
        padding-bottom: 5px;
      }
    }
    & > div.player_score {
      background-color: $primary-green;
    }
  }
}
