//Global Colors variables

//primary colors
  $primary-black: #020403;
  $primary-white: #ffffff;
  $primary-grey: #959595;
  $primary-purple: #9933ff;
  $primary-green: #bbe3a8;
  $primary-background: #282c34;
  //$primary-black: #172026;
  $alert-color: #fb4444;

