@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.home {
  @include center-flex();
  width: 100%;
  min-height: 100vh;
  background-color: $primary-background;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 25px;
  font-size: 25px;
  color: $primary-purple;
  border-bottom: thin solid $primary-purple;

  & > span {
    font-size: 50px;
    color: $primary-purple;
    width: 100%;
  }
  & > button {
    margin: 50px;
    font-size: 20px;
    color: $primary-white;
  }
}
