.header {
  width: 100%;
  height: 10vh;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 25px;
  color: mediumpurple;
  border-bottom: thin solid mediumpurple;

  div.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
      text-decoration: none;

      & > button {
        font-size: 15px;
        color: white;
      }
      .selected {
        color: greenyellow;
      }
      .not_selected {
        color: white;
      }
    }

  }

}
